@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@200;400;700&display=swap');

body {
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    background-color: fff;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

.container {
    text-align: center;
}

.form-group {
    text-align: center;
    padding-top: 50px;
}