*{
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    color : white;
    background-image: url('./images/moviebackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    text-align: center;
    background-color: black ;
    color: red;
    border-radius: 0;
    /*border-bottom: 10px solid black;*/
    background-image: url('./image/moviebackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron p{
    color: white;
}

.container {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: larger;
} 

.container1 {
    color: red;
    padding-left: 20px;
    font-weight: bold;
}

.form-group {
    color: red;
    padding-left: 20px;
    font-weight: bold;
}

#username {
    width:15%;
}

#email {
    width:15%;
}

#emailBtn {
    background-color: red;
    margin-left: 20px;
}

footer {
    background-color: black;
}

.description {
    background-color: black;
    margin-top: 10%;

}

.description p {
    text-align: left;
}